<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- icon page -->
    <link rel="shortcut icon" href="./img/icon.png" type="image/x-icon">
    <!-- styles -->
    <link rel="stylesheet" href="./css/index.css">
    <title>Task App Js </title>
</head>
<body>
    <nav class="navigator">
        <h1 class="navigator__big-text">Task App</h1>
    </nav>
    <div class="container">
        <p id="time"></p>
        <form action="#" id="form-content" class="form">
            <input type="text" placeholder="Enter your choice" id="task">
            <input type="submit" value="Agregar" id="btn">
        </form>
        <div class="line"></div>
        <div class="table-data" id="data-content">
        </div>
    </div>


<script src="../scripts/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>